<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.aayush.skooterapp" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Skooter" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ViewPostActivity"
            android:label="@string/title_activity_view_post"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="net.aayush.skooterapp.MainActivity" />
        </activity>
        <activity
            android:name=".ComposeActivity"
            android:label="@string/title_activity_compose"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="net.aayush.skooterapp.MainActivity" />
        </activity>
        <activity
            android:name=".PeekActivity"
            android:label="@string/title_activity_peek"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="net.aayush.skooterapp.MainActivity" />
        </activity>
        <activity
            android:name=".MapActivity"
            android:label="@string/title_activity_map"
            android:parentActivityName=".ViewPostActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="net.aayush.skooterapp.ViewPostActivity" />
        </activity>
    </application>

</manifest>
